.nav-logo {
    border-radius: 10px;
    border: 3px solid #111111;
    margin: 0 20px 0 0;
}

.navbar-brand-custom {
    font-size: 25px;
    font-weight: bold;
}

.active-custom {
    font-weight: bold;
}

footer {
    margin: 30px 0 0;
}