/* This file contains stylizations shared across each page of the site. */
/* Please note that several of these stylizations are altered using JavaScript for various purposes. */

/* stylizes logo in navbar */
.nav-logo-custom {
    border-radius: 10px;
    margin: 0 20px 0 0;
}

/* stylizes site name in navbar */
.navbar-brand-custom {
    font-size: 25px;
    font-weight: bold;
}

/* stylizes current subpage in navbar */
.active-custom {
    font-weight: bold;
}

/* NEXT 4 - each specifies exact width for subpage name containers */
/* necessary to stop bold text from changing width */
.nav-home-custom {
    width: 61.362px;
    padding: 8px;
}

/* ditto */
.nav-resume-custom {
    width: 74.737px;
    padding: 8px;
}

/* ditto */
.nav-coding-custom {
    width: 134.250px;
    padding: 8px;
}

/* ditto */
.nav-writing-custom {
    width: 140.238px;
    padding: 8px;
}

/* spaces non-navbar content to accomodate the fixed navbar */
.body-content-custom {
    margin: 63.5px 0px 0;
}

/* adds space in between footer and line */
footer {
    margin: 0 0 40px;
}

/* adds space in between body content and line */
hr {
    margin: 40px 0 40px;
}

/* stylizes "Hi! I'm Pete Smith" on the home page */
.intro-custom {
    font-size: 40px;
    width: 400px;
    margin: 0 0 40px;
}

/* stylizes font size for GitHub, LinkedIn, and email address */
.links-custom {
    font-size: 18px;
    text-align: center;
}

/* adds space in between GitHub, LinkedIn, and email address icons and their respective text */
.each-link-custom {
    margin-right: 10px;
    color: black;
}

/* adds vertical space for GitHub, LinkedIn, and email address for smaller screens */
/* centers each */
.col-custom {
    margin-top: 30px;
    text-align: center;
}

/* stylizes header of 404 page */
.header-404-custom {
    font-size: 40px;
    margin: 0 0 25px
}

/* bolds the about me section on the home page */
.quick-facts-custom {
    font-weight: bold;
}

/* makes cards more rounded */
.card {
    border-radius: 25px;
}

/* removes border from navbar toggle button */
.navbar-toggler {
    border-color: transparent !important;
}

/* removes focus outline from navbar toggle button */
.navbar-toggler:focus {
    outline: none;
}

/* navbar button toggle rotation animation */
@keyframes nav-rot-on {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

/* navbar button toggle rotation animation */
@keyframes nav-rot-off {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* navbar positioning and animation */
.navbar {
    top: 0;
    transition: top 0.3s ease-in-out;
}

/* dark mode button wrapper initial stylization */
#dark-mode-btn {
    position: sticky;
    top: 87.5%;
    left: 4%;
    border-radius: 23px;
    background-color: lightblue;
    z-index: 2;
    height: 46px;
    width: 80px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

/* dark mode button initial stylization */
#btn-circle {
    height: 34px;
    width: 34px;
    border-radius: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 3px;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: yellow;
}

/* dark mode button animation */
/* alters position, background color, and background image */
@keyframes dark-mode-on {
    from {
        margin-left: 3px;
        background-image: url(/assets/images/light-mode.svg);
        background-color: yellow;
    }

    to {
        margin-left: 37px;
        background-image: url(/assets/images/dark-mode.svg);
        background-color: rgb(136, 136, 136);
    }
}

/* dark mode button animation */
/* alters position, background color, and background image */
@keyframes dark-mode-off {
    from {
        margin-left: 37px;
        background-image: url(/assets/images/dark-mode.svg);
        background-color: rgb(136, 136, 136);
    }

    to {
        margin-left: 3px;
        background-image: url(/assets/images/light-mode.svg);
        background-color: yellow;
    }
}

/* dark mode button wrapper animation */
/* alters background color */
@keyframes dark-mode-wrapper-on {
    from {
        background-color: lightblue;
    }

    to {
        background-color: rgb(136, 136, 136);
    }
}

/* dark mode button wrapper animation */
/* alters background color */
@keyframes dark-mode-wrapper-off {
    from {
        background-color: rgb(136, 136, 136);
    }

    to {
        background-color: lightblue;
    }
}

/* dark mode button wrapper animation */
/* handles visibility */
@keyframes dark-mode-scroll-visible {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

/* dark mode button wrapper animation */
/* handles visibility */
@keyframes dark-mode-scroll-hidden {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* stylizes option to delete dark mode preference */
#delete-cookies {
    cursor: pointer;
    color: #007bff;
    display: inline-block;
}

/* stylizes option to delete dark mode preference when hovered */
#delete-cookies:hover {
    text-decoration: underline;
    color: #0056b3
}

/* adds spacing between changelog cards */
.commit-spacing {
    margin: 40px 0 40px;
}

/* adds vertical space in between sitemap categories */
.sitemap-spacing {
    height: 20px;
}