/* stylizes logo in navbar */
.nav-logo-custom {
    border-radius: 10px;
    margin: 0 20px 0 0;
}

/* stylizes site name in navbar */
.navbar-brand-custom {
    font-size: 25px;
    font-weight: bold;
}

/* stylizes current subpage in navbar */
.active-custom {
    font-weight: bold;
}

/* NEXT 4 - each specifies exact width for subpage name containers */
/* necessary to stop bold text from changing width  */
.nav-home-custom {
    width: 61.362px;
    padding: 8px;
}

.nav-resume-custom {
    width: 74.737px;
    padding: 8px;
}

.nav-coding-custom {
    width: 134.250px;
    padding: 8px;
}

.nav-writing-custom {
    width: 140.238px;
    padding: 8px;
}

/* spaces non-navbar content to accomodate the fixed navbar */
.body-content-custom {
    margin: 76px 0px 0;
}

/* adds space in between footer and line */
footer {
    margin: 0 0 40px;
}

/* adds space in between body content and line */
hr {
    margin: 40px 0 40px;
}

/* stylizes cards for resume subpage */
.card-custom {
    width: 400px;
    background-color: #f8f9fa;
    border-radius: 20px;
    margin: 0 0 40px;
}

.intro-custom {
    font-size: 40px;
    width: 400px;
    margin: 0 0 40px;
}

/* stylizes font size for GitHub, LinkedIn, and email address */
.links-custom {
    font-size: 18px;
    text-align: center;
}

/* adds space in between GitHub, LinkedIn, and email address icons and their respective text */
.each-link-custom {
    margin-right: 10px;
    color: black;
}

/* adds space in between download icon and the word "Download" */
.download-custom {
    margin-right: 10px;
}

/* adds vertical space for GitHub, LinkedIn, and email address for smaller screens */
/* centers each */
.col-custom {
    margin-top: 30px;
    text-align: center;
}

.langs-custom {
    font-weight: bold;
}

.card-custom {
    width: 800px;
}

.header-404-custom {
    font-size: 40px;
    margin: 0 0 25px
}

.quick-facts-custom {
    font-weight: bold;
}

.card {
    border-radius: 25px;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
}

@keyframes nav-rot-on {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes nav-rot-off {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.navbar {
    top: 0;
    transition: top 0.3s ease-in-out;
}

#dark-mode-btn {
    position: sticky;
    top: 87.5%;
    left: 4%;
    border-radius: 23px;
    background-color: lightblue;
    z-index: 2;
    height: 46px;
    width: 80px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

#btn-circle {
    height: 34px;
    width: 34px;
    border-radius: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 3px;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: yellow;
}

@keyframes dark-mode-on {
    from {
        margin-left: 3px;
        background-image: url(/assets/images/light-mode.svg);
        background-color: yellow;
    }

    to {
        margin-left: 37px;
        background-image: url(/assets/images/dark-mode.svg);
        background-color: rgb(136, 136, 136);
    }
}

@keyframes dark-mode-off {
    from {
        margin-left: 37px;
        background-image: url(/assets/images/dark-mode.svg);
        background-color: rgb(136, 136, 136);
    }

    to {
        margin-left: 3px;
        background-image: url(/assets/images/light-mode.svg);
        background-color: yellow;
    }
}

@keyframes dark-mode-wrapper-on {
    from {
        background-color: lightblue;
    }

    to {
        background-color: rgb(136, 136, 136);
    }
}

@keyframes dark-mode-wrapper-off {
    from {
        background-color: rgb(136, 136, 136);
    }

    to {
        background-color: lightblue;
    }
}

@keyframes dark-mode-scroll-visible {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes dark-mode-scroll-hidden {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

#delete-cookies {
    cursor: pointer;
    color: #007bff;
    width: 128.10px;
    display: inline-block;
}

#delete-cookies:hover {
    text-decoration: underline;
    color: #0056b3
}