/* stylizes logo in navbar */
.nav-logo-custom {
    border-radius: 10px;
    border: 3px solid #111111;
    margin: 0 20px 0 0;
}

/* stylizes site name in navbar */
.navbar-brand-custom {
    font-size: 25px;
    font-weight: bold;
}

/* stylizes current subpage in navbar */
.active-custom {
    font-weight: bold;
}

/* NEXT 4 - each specifies exact width for subpage name containers */
/* necessary to stop bold text from changing width  */
.nav-home-custom {
    width: 61.362px;
    padding: 8px;
}

.nav-resume-custom {
    width: 74.737px;
    padding: 8px;
}

.nav-coding-custom {
    width: 134.250px;
    padding: 8px;
}

.nav-writing-custom {
    width: 140.238px;
    padding: 8px;
}

/* spaces non-navbar content to accomodate the fixed navbar */
.body-content-custom {
    margin: 116px 0px 0;
}

/* adds space in between footer and line */
footer {
    margin: 10px 0 30px;
}

/* adds space in between body content and line */
hr {
    margin: 40px 0 40px;
}

/* stylizes cards for resume subpage */
.card-custom {
    width: 400px;
    background-color: #f8f9fa;
    border-radius: 20px;
    margin: 0 0 40px;
}

.intro-custom {
    font-size: 40px;
    width: 400px;
}

/* stylizes font size for GitHub, LinkedIn, and email address */
.links-custom {
    font-size: 18px;
    text-align: center;
}

/* adds space in between GitHub, LinkedIn, and email address icons and their respective text */
.each-link-custom {
    margin-right: 10px;
    color: black;
}

/* adds space in between download icon and the word "Download" */
.download-custom {
    margin-right: 10px;
}

/* adds vertical space for GitHub, LinkedIn, and email address for smaller screens */
/* centers each */
.col-custom {
    margin-top: 30px;
    text-align: center;
}

.langs-custom {
    margin-bottom: 30px;
    font-weight: bold;
}

.card-custom {
    width: 800px;
}

.header-404-custom {
    font-size: 40px;
    margin: 0 0 25px
}